name: Release Library

on:
  release:
    types: [created]

permissions:
  contents: write # Needed to push to gh-pages

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Needed for tagging

    - name: Set up Java and Maven Central credentials
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        server-id: central
        server-username: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
        server-password: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
        gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
        gpg-passphrase: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}

    - name: Set release version
      run: mvn versions:set -DnewVersion=${{ github.event.release.tag_name }}

    - name: Build
      run: mvn clean install -DskipTests=false

    - name: Generate Javadoc
      run: mvn javadoc:javadoc

    - name: Deploy JavaDoc
      uses: MathieuSoysal/Javadoc-publisher.yml@v3.0.2
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        javadoc-branch: gh-pages
        java-version: 21
        target-folder: '' # The URL will be https://<username>.github.io/<repo>/.
        project: maven

    - name: Deploy to Maven Central
      run: mvn -P release --batch-mode deploy -DskipTests -Dgpg.passphrase=${{ secrets.GPG_SIGNING_KEY_PASSWORD }}
